@model Project.WebUI.Models.UserModel

<form asp-action="Login" method="post">
    <div>
        <label asp-for="Id">Osobní číslo</label>
        <input asp-for="Id" />
    </div>
    <div>
        <label asp-for="Password">Heslo</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Přihlásit</button>
</form>